<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create Post')"></head>
<body>

    <div th:replace="partials/navbar :: navbar"></div>

    <main class="container">

        <h1>Create Post</h1>

        <form th:action="@{/posts/create}" method="POST" th:object="${post}">

            <div class="form-group">
                <label for="title">Post Title</label>
                <input id="title" class="form-control" placeholder="Enter post title" type="text" th:field="*{title}" />
            </div>

            <div class="form-group">
                <label for="body">Post Body</label>
                <input id="body" class="form-control" placeholder="Enter post" type="text" th:field="*{body}" />
            </div>

            <button class="btn btn-large btn-success">Create Post</button>

        </form>

        <!-- BONUS -->
        <!--<form th:replace="partials/post-form :: post-form('/posts/create')"></form>-->

    </main>

    <div th:replace="partials/footer :: footer"></div>

    <div th:replace="partials/scripts :: scripts"></div>

</body>
</html>