<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create Ad')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <h1>Create Ad</h1>

    <form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
        Title:
        <input th:field="*{title}" />
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
        <br />
        Description:
        <input th:field="*{description}" />
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
        <br />
        <input type="submit" />
    </form>

</main>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>